[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cssos-pulumi-aws-vpc = {path = "./../../python"}
pulumi_aws = ">=2.2.0,<5.0.0"

[requires]
python_version = "3.9"
